@model MentorMe.Models.FeedForm
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Rating-Angular/angular.ratings.js"></script>
<script src="~/Scripts/Feedback/feed.js"></script>
<link href="~/Content/Angular-Rating/angular.ratings.css" rel="stylesheet" />
<div class="row">
        <div class="form-horizontal" ng-app="myApp">
    <form name="feedForm" novalidate ng-controller="feedController" ng-submit="InsertFeed()">
        <fieldset>
            <legend class="text-center"><h2>Feed Form</h2></legend>
            <div class="form-group">
                 <label class="control-label col-md-4 col-xs-4">Name</label>         
                <div class="col-md-5 col-xs-8">
                    <input type="text" 
                        placeholder="Enter your name"
                        ng-model="name"
                        name="feedName"
                        ng-minlength="3"
                        ng-maxlength="20"
                        ng-pattern="/^[a-zA-Z]+$/"
                        required
                        class = "form-control" />
                    <div class="error-container"
                        ng-show="feedForm.feedName.$dirty && feedForm.feedName.$invalid">
                        <small class="has-error" ng-show="feedForm.feedName.$error.required">Please enter your name.</small>
                        <small ng-show="feedForm.feedName.$error.minlength">Your name is too short.</small>
                        <small ng-show="feedForm.feedName.$error.maxlength">Your name is too long.</small>
                        <small ng-show="feedForm.feedName.$error.pattern">Your name is not valid.</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4">Email</label>        
                <div class="col-md-5 col-xs-8">
                    <input type="email"
                        placeholder="Enter your email"
                        ng-model="email"
                        name="feedEmail"
                        ng-pattern="emailPattern"
                        required
                        class = "form-control" />
                    <div class="error-container"
                        ng-show="feedForm.feedEmail.$dirty && feedForm.feedEmail.$invalid">
                        <small ng-show="feedForm.feedEmail.$error.required">Please enter your email address.</small>
                        <small ng-show="feedForm.feedEmail.$error.pattern">Please enter valid email address.</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4">Rating</label>         
                <div class="col-md-5 col-xs-8">
                    <angular-ratings notify-url="notify.json" notify-id="id" ng-model="rating"></angular-ratings>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4">Comments</label>            
                <div class="col-md-5 col-xs-8">
                    <textarea 
                        placeholder="Enter your comments"
                        cols="80" 
                        rows="5"
                        ng-minlength="50"
                        ng-maxlength="200"
                        ng-model="comments"
                        name="feedcomments"
                        required
                        class = "form-control"></textarea>
                    <div class="error-container"
                        ng-show="feedForm.feedcomments.$dirty && feedForm.feedcomments.$invalid">
                        <small ng-show="feedForm.feedcomments.$error.required">Please enter your comments.</small>
                        <small ng-show="feedForm.feedcomments.$error.minlength">Your comments too short(minimum 50 characters required).</small>
                        <small ng-show="feedForm.feedcomments.$error.maxlength">Your comments too long(maximum 200 characters only allowed).</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Grade" class="control-label col-md-4 col-xs-4"></label>          
                <div class="col-md-5 col-xs-8">
                    <input type="submit" ng-disabled="feedForm.$invalid" value="Submit Feedback" class="btn btn-lg btn-primary" />
                </div>
            </div>
        </fieldset>        
    </form>
    </div>
</div>